*{margin:0; padding: 0}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: #1C2A33;
    color: rgb(227, 230, 228);
    padding: 3% 0;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.article {
    margin: 20px auto;
    width: auto;
    height: auto;
    background-color: #46525E;
    border: 4px solid #0E0E0E;
    border-radius: 7px;
    text-align: left;
    padding: 30px 40px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #aaafa0;
}

span {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px 15px;
    font-weight: 700;
    text-align: left;
    color: #0E0E0E;
    background: linear-gradient(to right, rgb(206, 203, 27), rgb(70, 82, 94));
    border-radius: 15px;
}

ul {
    margin: 0 25px ;
}
